<!DOCTYPE html>
%html
  %head
    %title 
      Rails Bootstrap
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{:rel => "shortcut icon", :href => "/favicon.ico" }
    = csrf_meta_tags

  %body
    .navbar
      - if user_signed_in?
        .navbar-inner.navbar-topo
          .container.container-topo
            .titulo
              = image_tag "logo-fortaleza.png"
              .texto_projeto
                %h1.nome_projeto Nome do seu sistema desenvolvido
                %span.pmf Prefeitura de Fortaleza
            - if user_signed_in?
              %div.administrador
                %span.adm-use
                  %i.icon-user.image_tag
                  = link_to current_user.email, edit_user_registration_path
                %span.adm-logout
                  %i.icon-signout.image_tag
                  = link_to "Sair", destroy_user_session_path, method: :delete
      - else
        .row-fluid.row-titulo
          .titulo-deslogado
            = image_tag "logo-fortaleza.png"
            .texto_projeto
              %h4.nome_projeto Nome do seu sistema desenvolvido
              %span.pmf Prefeitura de Fortaleza

      - if user_signed_in?
        .navbar.menu-topo
          .container      
            %ul.nav.menu-nav
              - if user_signed_in?
                %li
                  = link_to root_path do
                    %i.icon-home
                    Página inicial
                %li
                  = link_to admin_index_path do
                    %i.icon-user
                    Usuários

    .container-fluid.container-meio
      %div.row-fluid

        %p#notice= notice
        
        = yield
    
    - if user_signed_in?
      %footer.rodape
        .rodape-interno
          %p
            %span.copyright
              © SEPOG 2013 | COTEC

    = yield :css

    = yield :js